
@charset "UTF-8";

@-ms-viewport {
    width: device-width;
}

#body-section {

}

#body-section > div.list-base {
    width: 100%;
    height: auto;
    border: solid 1px #219228;
    border-radius: 0.8vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#body-section > div.list-base > ul.header {
    list-style: none;
    width: 100%;
    height: auto;
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
    border-radius: 0.8vh 0.8vh 0 0;
    background: #cccccc;
    overflow: hidden;
}
#body-section > div.list-base > ul.header > li {
    display: inline-block;
    height: 5vh;
    font-size: 4.5vw;
    line-height: 5vh;
    font-weight: 700;
    vertical-align: middle;
    padding: 0 0.5vh;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    background: #cccccc;
}
#body-section > div.list-base > ul.header > li:nth-child(1) {
    width: 50.0%;
    text-align: left;
}
#body-section > div.list-base > ul.header > li:nth-child(2) {
    width: 14%;
    text-align: center;
}
#body-section > div.list-base > ul.header > li:nth-child(3) {
    width: 19.5%;
    text-align: right;
}
#body-section > div.list-base > ul.header > li:nth-child(4) {
    width: 16.5%;
    text-align: center;
    padding-right: 2.5vw;
}
#body-section > div.list-base > div.list {
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
/*    overflow-y: overlay; */
    border-radius: 0 0 0.8vh 0.8vh;
    padding: 0;
    margin: 0;
    background: #eee;
}
#body-section > div.list-base > div.list > table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
#body-section > div.list-base > div.list > table > tbody {
    
}
#body-section > div.list-base > div.list > table > tbody > tr:nth-child(even) {
    background: transparent;
}
#body-section > div.list-base > div.list > table > tbody > tr:nth-child(odd) {
/*    background: #ccffcc;*/
}

#body-section > div.list-base > div.list > table > tbody > tr > td {
    height: 6.0vh;
/*    font-size: 3.5vh;*/
    font-size: 5.0vw;
    line-height: 125%;
    padding: 1.5vh 0.5vh;
    margin: 0;
    overflow: hidden;
    white-space: normal;
}
#body-section > div.list-base > div.list > table > tbody > tr > td:nth-child(1) {
    width: inherit;
}
#body-section > div.list-base > div.list > table > tbody > tr > td:nth-child(2) {
    width: 14vw;
    text-align: center;
}
#body-section > div.list-base > div.list > table > tbody > tr > td:nth-child(3) {
    width: 16vw;
    text-align: right;
}
#body-section > div.list-base > div.list > table > tbody > tr > td:nth-child(4) {
    width: 14vw;
    text-align: center;
}
#body-section > div.list-base > div.list > table > tbody > tr.minus > td {
    color: red;
}
#body-section > div.list-base > div.list > table > tbody > tr > td:nth-child(4) > div {
    font-size: 3vw;
    font-weight: bold;
    line-height: 3vh;
    border-radius: 1.5vh;
    border-width: 1px;
}

#body-section > div.message {
    padding: 0;
    margin: 1vh 0 0 0;
    font-size: 4.8vw;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #219228;
}

#body-section > div.amount {
    height: 5vh;
    padding: 0;
    margin: 2vh 0 1vh 0;
    text-align: center;
}
#body-section > div.amount > p {
    display: inline-block;
    width: 18%;
    font-size: 7vw;
    line-height: 5vh;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
#body-section > div.amount > p > span {
    font-size: 115%;
    vertical-align: bottom;
}
#body-section > div.amount > p.amount {
    width: 82%;
    text-align: right;
}

#order-history {
/*    display: none!important;*/
}